body {
    margin: 0;
}

.container, .bloque {
    padding: 15px;
    margin: 15px;
    border-style:solid;
    border-color: blueviolet;
    border-radius: 5px;
}

.bloque {
    border-color: rgb(25, 12, 145);
}

#ej7-result {
    border-style:solid;
    border-color: rgb(43, 128, 226);
    border-radius: 5px;
    width: 100px;
    height: 100px;
}